<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sucursal">
    
    <select id="obtenerSucursalId" resultType="modelo.pojo.Sucursal" parameterType="modelo.pojo.Sucursal">
        
        SELECT * FROM sucursal 
        WHERE idSucursal = #{idSucursal}

    </select>
    
    <select id="obtenerSucursal" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT s.*, e.idEmpresa, e.nombreEmpresa, es.estatus 
        FROM cuponera.sucursal s
        INNER JOIN cuponera.empresa e ON s.idEmpresa = e.idEmpresa
        INNER JOIN cuponera.estatus es ON es.idEstatus = s.idEstatus 
    </select>
    
    <select id="obtenerSucursalRol" resultType="modelo.pojo.Sucursal" parameterType="int">
        SELECT u.idUsuario, u.idRol, s.* FROM usuario u 
        INNER JOIN sucursal s ON u.idEmpresa = s.idEmpresa
    </select>
    
    <insert id="registrar" parameterType="modelo.pojo.Sucursal">
        INSERT INTO sucursal (nombreSucursal, telefono, nombreEncargado, idEstatus, idEmpresa, direccion, codigoPostal, 
        colonia, ciudad, latitud, longitud) 
        VALUES (#{nombreSucursal}, #{telefono}, #{nombreEncargado}, #{idEstatus}, #{idEmpresa}, #{direccion}, #{codigoPostal}, 
        #{colonia}, #{ciudad}, #{latitud}, #{longitud})
    </insert>
    
    <update id="editar" parameterType="map">
        UPDATE sucursal 
        SET nombreSucursal = #{nombreSucursal}, telefono = #{telefono}, nombreEncargado = #{nombreEncargado}, 
        idEstatus = #{idEstatus}, idEmpresa = #{idEmpresa}, direccion = #{direccion}, codigoPostal = #{codigoPostal}, 
        colonia = #{colonia}, ciudad = #{ciudad}, latitud = #{latitud}, longitud = #{longitud}
        WHERE idSucursal = #{idSucursal}
    </update>
    
    <delete id="eliminar" parameterType="int">
        DELETE FROM sucursal 
        WHERE idSucursal = #{idSucursal}
    </delete>
    
    <select id="obtenerSucursalesEmpresa" resultType="modelo.pojo.Sucursal" parameterType="modelo.pojo.Sucursal">
        SELECT * FROM sucursal 
        WHERE idEmpresa = #{idEmpresa}
    </select>

    <select id="buscarNombreSucursal" resultType="modelo.pojo.Sucursal" parameterType="String">
        SELECT * FROM sucursal 
        WHERE nombreSucursal LIKE "%"#{nombreSucursal}"%"
    </select>
    
    <select id="obtenerPromoSucursal" resultType="modelo.pojo.Promocion" parameterType="int">
        SELECT p.* FROM promocion p
        INNER JOIN sucursal s ON p.idSucursal = s.idSucursal
        WHERE p.idSucursal = #{idSucursal}
    </select>

</mapper>